[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
six = "==1.11.0"
pyzmq = "*"
PyYaml = "*"
tornado = "*"
numpy = "*"
warlock = "*"
scipy = "*"
argparse = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"

[requires]
python_version = "2.7"
